{% import 'macros/form.html' as form %}
{% set modal_text = field.modal_text if "modal_text" in field else none %}
{% resource 'eaw_schema/eaw_schema_publication.js' %}

{% set value = data[field.field_name] %}

<style>
  .publicationcheck label.control-label {
    font-size: 17.5px;
  text-align: left;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
  }
  input#ispublication {
  width:30px;
  height: 30px;
  }
  .publicationcheck label::after { 
  content: ""; 
  }
  div.publicationcheck_wrap {
  background: #C4EBEA;
  border-radius: 10px;
  }
  
  .publicationcheck button.outsidebutton {
  position:relative;
  margin-top: 13px;
  }
</style>

<div class="publicationcheck_wrap">
{% call form.input_block(
  field.field_name,
  label=field.label,
  error=errors[field.field_name],
  classes=['control-medium', 'publicationcheck']

  )
  %}
  <div class="eaw_with_infobutton">
    <input type="checkbox" data-module="eaw_schema_publication"
	   id="{{ field.field_name }}" name="{{ field.field_name }}" value="yes" {{ "checked" if value }}/>
  {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
  </div>
  {% if modal_text is not none %}
    {%- include 'scheming/form_snippets/eaw_schema_infobutton.html' -%}
  {% endif %}

{% endcall %}
{% if modal_text is not none %}
  {%- include 'scheming/form_snippets/modalsnippets/eaw_schema_' ~ modal_text ~ '.html' -%}
{% endif %}
</div>
