{% asset 'eaw_schema/eaw_schema-js' %}
{%- asset 'eaw_schema/bootstrap-datepicker-js' -%}
{%- asset 'eaw_schema/bootstrap-datepicker-css' -%}
{% import 'macros/form.html' as form %}
{% set name = field.field_name %}
{% set id = 'field-' ~ name %}
{% set value=data.get(name) or '' %}
{% set label=h.scheming_language_text(field.label) %}
{% set error=errors[field.field_name] %}
{% set modal_text=field.modal_text if 'modal_text' in field else none %}
{% set interval = h.eaw_schema_embargo_interval(730) %}
{% set today = interval['now'] %}
{% set maxdate = interval['maxdate'] %}
{% set classes=field.classes %}
{% set attrs=field.form_attrs or {} %}
{%- call form.input_block(
    for=id,
    label=label,
    error=error,
    classes=classes,
    is_required=h.scheming_field_required(field)) -%}
    <div class="input-prepend date">
        <span class="add-on"><i class="fa fa-calendar"></i></span>
        <input id="{{ id }}" name="{{ name }}"type="text" value="{{ value }}" {{ form.attributes(attrs) }} data-module="datepicker" data-module-maxdate="{{ maxdate }}" data-module-today="{{ today }}"/>
        {% if modal_text is not none %}
            {%- snippet 'scheming/form_snippets/eaw_schema_infobutton.html', modal_text=modal_text -%}
            {%- snippet 'scheming/form_snippets/modalsnippets/eaw_schema_' ~ modal_text ~ '.html', field=field -%}
        {% endif %}
    </div>
{% endcall %}
