{% import 'macros/form.html' as form %}

{% set name=field.field_name %}
{% set extra_html="" %}
{% set value=data.get(name, '')|join("\r\n")  %}
{% set modal_text=field.modal_text if 'modal_text' in field else none %}
{% set attrs=field.form_attrs if 'form_attrs' in field else {} %}
{% set placeholder=field.form_placeholder if 'form_placeholder' in field else ''%}
{% set label=h.scheming_language_text(field.label) %}
{% set error=errors[field.field_name] %}

{{ form.textarea(name=name, id=name, label=label, value=value, placeholder=placeholder,
   error=error) }}

