{% import 'macros/form.html' as form %}

{%- set modal_text = field.modal_text if "modal_text" in field else none -%}

{%- if field.field_name == "publicationlink" -%}
  {%- set classes = ['control-medium', 'hidden'] -%}
{%- else -%}
  {%- set classes = ['control-medium'] -%}
{%- endif -%}

{%- call form.input(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    placeholder=h.scheming_language_text(field.form_placeholder),
    value=data[field.field_name],
    error=errors[field.field_name],
    classes=classes,
    attrs=field.form_attrs if 'form_attrs' in field else {"class": "eaw_with_infobutton"},
    is_required=h.scheming_field_required(field)
    )
-%}
  {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
  {%- if modal_text is not none -%}
    {%- include 'scheming/form_snippets/eaw_schema_infobutton.html' -%}
  {%- endif -%}
{%- endcall -%}
{%- if modal_text is not none -%}
  {%- include 'scheming/form_snippets/modalsnippets/eaw_schema_' ~ modal_text ~ '.html' -%}
{%- endif -%}


