{% import 'macros/form.html' as form %}

{%- set options=[] -%}
{%- set form_restrict_choices_to=field.get('form_restrict_choices_to') -%}
{%- if not h.scheming_field_required(field) or
    field.get('form_include_blank_choice', false) -%}
  {%- do options.append({'value': '', 'text': ''}) -%}
{%- endif -%}
{%- for c in h.scheming_field_choices(field) -%}
  {%- if not form_restrict_choices_to or c.value in form_restrict_choices_to -%}
  {%- do options.append({
      'value': c.value|string,
      'text': h.scheming_language_text(c.label) }) -%}
  {%- endif -%}
{%- endfor -%}
{%- if field.get('sorted_choices') -%}
  {%- set options = options|sort(case_sensitive=false, attribute='text') -%}
{%- endif -%}

{% set modal_text = field.modal_text if 'modal_text' in field else none%}

{% call form.select(
  field.field_name,
  id='field-' + field.field_name,
  label=h.scheming_language_text(field.label),
  options=options,
  selected=data[field.field_name],
  error=errors[field.field_name],
  classes=['control-medium'],
    attrs=dict({"class": "form-control eaw_with_infobutton medinput"}, **(field.get('form_attrs', {}))),
  is_required=h.scheming_field_required(field)
  ) %}
  {% if modal_text is not none %}
    {%- include 'scheming/form_snippets/eaw_schema_infobutton.html' -%}
  {% endif %}
{% endcall %}
{% if modal_text is not none %}
  {%- include 'scheming/form_snippets/modalsnippets/eaw_schema_' ~ modal_text ~ '.html' -%}
{% endif %}
