{% import 'macros/form.html' as form %}
{% set type = "text" %}
{% set name=field.field_name %}
{% set extra_html="" %}
{% set value=data.get(name) %}
{% set modal_text=field.modal_text if 'modal_text' in field else none %}
{% set attrs=field.form_attrs if 'form_attrs' in field else {} %}
{% set placeholder=field.form_placeholder if 'form_placeholder' in field else '' %}
{% if field.default_value and (name not in data) %}
    {% set value = h.eaw_schema_set_default(value, field.default_value) %}
{% endif %}
{%- call form.input_block(
    for='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    error=errors[field.field_name],
    classes=['control-medium'],
    control_classes=[],
    extra_html="",
    is_required=h.scheming_field_required(field)) -%}
    <input id="{{ id or name }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} class="medinput"/>
    {% if modal_text is not none %}
        {%- snippet 'scheming/form_snippets/eaw_schema_infobutton.html', modal_text=modal_text -%}
    {% endif %}
{% endcall %}
{% if modal_text is not none %}
    {%- snippet 'scheming/form_snippets/modalsnippets/eaw_schema_' ~ modal_text ~ '.html', field=field -%}
{% endif %}
